body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:dimgrey;
    
}

#container{
    width:70%;
    padding: 0;
    text-align: left;
    border: 3px solid black;
    margin: 0 auto;
    height: auto;

}

#cabecera{
    background-color:slategray;
    color: ghostwhite;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.75);
    font-size: 35px;
}
#tagline{
    font-size: 20px;
    padding: 0 0 0 1em;
    font-weight: normal;
    vertical-align: middle;
    
}
#post{  
    background-color: white;
    padding: 1em;
}

#logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
}
